In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages

You are using pip version 9.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient["pymangotutorial"]

In [4]:
mycol = mydb["sample"]
mycol.delete_many({})

In [5]:
print(myclient.list_database_names())
print(mydb.list_collection_names())

['admin', 'config', 'local', 'pymangotutorial']
['sample']

In [6]:
mydict = { "name": "Nitin", "address": "Pune" }

x = mycol.insert_one(mydict)

In [7]:
print(x.inserted_id)

5dfcb9ce1f799d8a7f61d6c4

In [8]:
print(mycol.find_one())

{'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'), 'name': 'Nitin', 'address': 'Pune'}

In [9]:

mylist = [
  { "_id": 1, "name": "a", "address": "A7"},
  { "_id": 2, "name": "b", "address": "B"},
  { "_id": 3, "name": "c", "address": "C"},
  { "_id": 4, "name": "d", "address": "D"},
  { "_id": 5, "name": "e", "address": "E"},
  { "_id": 6, "name": "f", "address": "F"},
  { "_id": 7, "name": "g", "address": "G"},
  { "_id": 8, "name": "h", "address": "H"},
  { "_id": 9, "name": "i", "address": "I"},
  { "_id": 10, "name": "j", "address": "J"},
  { "_id": 11, "name": "k", "address": "K"},
  { "_id": 12, "name": "l", "address": "L"},
  { "_id": 13, "name": "m", "address": "M"},
  { "_id": 14, "name": "n", "address": "N"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'), 'name': 'Nitin', 'address': 'Pune'}
{'_id': 1, 'name': 'a', 'address': 'A7'}
{'_id': 2, 'name': 'b', 'address': 'B'}
{'_id': 3, 'name': 'c', 'address': 'C'}
{'_id': 4, 'name': 'd', 'address': 'D'}
{'_id': 5, 'name': 'e', 'address': 'E'}
{'_id': 6, 'name': 'f', 'address': 'F'}
{'_id': 7, 'name': 'g', 'address': 'G'}
{'_id': 8, 'name': 'h', 'address': 'H'}
{'_id': 9, 'name': 'i', 'address': 'I'}
{'_id': 10, 'name': 'j', 'address': 'J'}
{'_id': 11, 'name': 'k', 'address': 'K'}
{'_id': 12, 'name': 'l', 'address': 'L'}
{'_id': 13, 'name': 'm', 'address': 'M'}
{'_id': 14, 'name': 'n', 'address': 'N'}

In [11]:
for x in mycol.find({},{"_id": 0, "address": 1 }):
  print(x)

{'address': 'Pune'}
{'address': 'A7'}
{'address': 'B'}
{'address': 'C'}
{'address': 'D'}
{'address': 'E'}
{'address': 'F'}
{'address': 'G'}
{'address': 'H'}
{'address': 'I'}
{'address': 'J'}
{'address': 'K'}
{'address': 'L'}
{'address': 'M'}
{'address': 'N'}

In [12]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'), 'name': 'Nitin'}
{'_id': 1, 'name': 'a'}
{'_id': 2, 'name': 'b'}
{'_id': 3, 'name': 'c'}
{'_id': 4, 'name': 'd'}
{'_id': 5, 'name': 'e'}
{'_id': 6, 'name': 'f'}
{'_id': 7, 'name': 'g'}
{'_id': 8, 'name': 'h'}
{'_id': 9, 'name': 'i'}
{'_id': 10, 'name': 'j'}
{'_id': 11, 'name': 'k'}
{'_id': 12, 'name': 'l'}
{'_id': 13, 'name': 'm'}
{'_id': 14, 'name': 'n'}

In [13]:
print(list(mycol.find({"address": 0 })))
print(list(mycol.find({"address": "Pune" })))
print(list(mycol.find({"address": "pune" },{"_id": 0,"name":1, "address": 1 })))
list(mycol.find({"address": "Pune" },{"_id": 0,"name":1, "address": 1 }))

[]
[{'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'), 'name': 'Nitin', 'address': 'Pune'}]
[]

[{'address': 'Pune', 'name': 'Nitin'}]

In [14]:
list(mycol.find({ "address": { "$regex": "^G" } }))

[{'_id': 7, 'address': 'G', 'name': 'g'}]

In [15]:
list(mycol.find().sort("name"))

[{'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'),
  'address': 'Pune',
  'name': 'Nitin'},
 {'_id': 1, 'address': 'A7', 'name': 'a'},
 {'_id': 2, 'address': 'B', 'name': 'b'},
 {'_id': 3, 'address': 'C', 'name': 'c'},
 {'_id': 4, 'address': 'D', 'name': 'd'},
 {'_id': 5, 'address': 'E', 'name': 'e'},
 {'_id': 6, 'address': 'F', 'name': 'f'},
 {'_id': 7, 'address': 'G', 'name': 'g'},
 {'_id': 8, 'address': 'H', 'name': 'h'},
 {'_id': 9, 'address': 'I', 'name': 'i'},
 {'_id': 10, 'address': 'J', 'name': 'j'},
 {'_id': 11, 'address': 'K', 'name': 'k'},
 {'_id': 12, 'address': 'L', 'name': 'l'},
 {'_id': 13, 'address': 'M', 'name': 'm'},
 {'_id': 14, 'address': 'N', 'name': 'n'}]

In [16]:
list(mycol.find().sort("name",-1))

[{'_id': 14, 'address': 'N', 'name': 'n'},
 {'_id': 13, 'address': 'M', 'name': 'm'},
 {'_id': 12, 'address': 'L', 'name': 'l'},
 {'_id': 11, 'address': 'K', 'name': 'k'},
 {'_id': 10, 'address': 'J', 'name': 'j'},
 {'_id': 9, 'address': 'I', 'name': 'i'},
 {'_id': 8, 'address': 'H', 'name': 'h'},
 {'_id': 7, 'address': 'G', 'name': 'g'},
 {'_id': 6, 'address': 'F', 'name': 'f'},
 {'_id': 5, 'address': 'E', 'name': 'e'},
 {'_id': 4, 'address': 'D', 'name': 'd'},
 {'_id': 3, 'address': 'C', 'name': 'c'},
 {'_id': 2, 'address': 'B', 'name': 'b'},
 {'_id': 1, 'address': 'A7', 'name': 'a'},
 {'_id': ObjectId('5dfcb9ce1f799d8a7f61d6c4'),
  'address': 'Pune',
  'name': 'Nitin'}]

In [17]:
mycol.delete_one({ "address": "Pune" })
for x in mycol.find():
  print(x)

{'_id': 1, 'name': 'a', 'address': 'A7'}
{'_id': 2, 'name': 'b', 'address': 'B'}
{'_id': 3, 'name': 'c', 'address': 'C'}
{'_id': 4, 'name': 'd', 'address': 'D'}
{'_id': 5, 'name': 'e', 'address': 'E'}
{'_id': 6, 'name': 'f', 'address': 'F'}
{'_id': 7, 'name': 'g', 'address': 'G'}
{'_id': 8, 'name': 'h', 'address': 'H'}
{'_id': 9, 'name': 'i', 'address': 'I'}
{'_id': 10, 'name': 'j', 'address': 'J'}
{'_id': 11, 'name': 'k', 'address': 'K'}
{'_id': 12, 'name': 'l', 'address': 'L'}
{'_id': 13, 'name': 'm', 'address': 'M'}
{'_id': 14, 'name': 'n', 'address': 'N'}

In [18]:
count=mycol.delete_many({ "address": {"$regex": "^A7"} })
print(count.deleted_count, " documents deleted from collection.")

1  documents deleted from collection.

In [19]:
mycol.update_one({ "address": "N" }, { "$set": { "address": "n" } })
for x in mycol.find():
  print(x)

{'_id': 2, 'name': 'b', 'address': 'B'}
{'_id': 3, 'name': 'c', 'address': 'C'}
{'_id': 4, 'name': 'd', 'address': 'D'}
{'_id': 5, 'name': 'e', 'address': 'E'}
{'_id': 6, 'name': 'f', 'address': 'F'}
{'_id': 7, 'name': 'g', 'address': 'G'}
{'_id': 8, 'name': 'h', 'address': 'H'}
{'_id': 9, 'name': 'i', 'address': 'I'}
{'_id': 10, 'name': 'j', 'address': 'J'}
{'_id': 11, 'name': 'k', 'address': 'K'}
{'_id': 12, 'name': 'l', 'address': 'L'}
{'_id': 13, 'name': 'm', 'address': 'M'}
{'_id': 14, 'name': 'n', 'address': 'n'}

In [20]:
up = mycol.update_many({ "address": { "$regex": "^n" } }, { "$set": { "name": "Nitin" } })

print(up.modified_count, "documents updated in collection.")

1 documents updated in collection.